@font-face {
    font-family: "Neue Haas";
    src: url("../font/haasgrotdisp-45light-webfont.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Neue Haas";
    src: url("../font/haasgrotdisp-55roman-webfont.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
}

:root {
    --primary-color: #1D0259;
    --second-color: #E8EDF9;
    --button-color: #F205E2;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 20px;
}

body {
    font-family: "Neue Haas", sans-serif;
    background: var(--primary-color) url(../../assets/image/nnoeil.jpg) top no-repeat;
    background-size: contain;

}

header {
    display: flex;
}

img {
    border-radius: 0.5rem;
    border: 3px solid white;
}

h1 {
    font-weight: 500;
    font-style: normal;
    color: var(--primary-color);
    font-size: 40px;
    margin: 1rem;
}

h2 {
    font-weight: 500;
    font-style: normal;
    color: var(--primary-color);
    font-size: 32px;
    margin: 1rem ;
}

h3 {
    font-weight: 500;
    font-style: normal;
    color: var(--primary-color);
    font-size: 32px;
    margin: 20px;
    padding-left: 1rem;
}

/*Haut*/

.hover:hover {
    color: #F205E2;
}
.icones {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    position: fixed;
    color: var(--second-color);

}

.icones i {
    padding: 0.5rem;
}

.menu-barre {
    display: flex;
    justify-content: space-between;
    background-color: var(--primary-color);
    width: 100%;
    margin: 0 0 2.5rem;
    position: sticky;
    overflow: hidden;
}

.menu-barre .logo {
    display: flex;
    background: var(--second-color);
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

.menu-barre .logo a img {
    height: 3.5rem;
    padding: 0.5rem;
    border: none;
}

.logo:hover {
    background-color: #1D0259;
}

.menu-barre ul {
    display: flex;
    list-style: none;
    padding: 0 0.5rem;
    justify-content: center;
    align-items: center;
}

.menu-barre ul li {
    padding: 1.5rem;
}

.menu-barre ul li a {
    text-decoration: none;
    color: var(--second-color);
}

.menu-barre a:hover {
    color: #F205E2;
}

/*Boutons*/
.cta-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cta {
    font-size: 1rem;
    text-decoration: none;
    border-radius: 0.5rem;
    padding: 0.5rem 1.5rem;
    margin: 1.5rem;
}

.pink {
    background-color: var(--button-color);
    color: var(--second-color);
}

.white {
    background-color: var(--second-color);
    color: var(--button-color);
}

#popupbutton {
    font-size: 32px;
    background-color: var(--button-color);
    color: var(--second-color);
    border-radius: 15px;
    padding: 10px;
    border: none;
    margin: 20px;
}

/*Accueil*/
article img {
    width: 100%;
}

article {
    display: flex;
    flex-direction: column;
}

input {
    border-radius: 0.5rem;
    border: 3px solid white;
    background: var(--second-color);
    width: 400px;
    height: 50px;
}

.container {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    margin: 10rem auto 5rem;
    max-width: 1220px;
    background: var(--second-color);
    border-radius: 0.5rem;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: var(--primary-color);
}

.inner {
    margin: 0 3.5rem 2.5rem;
}

.inner section {
    margin: 1.5rem 0;
}

.accueil-description {
    display: flex;
    font-size: 16px;
    margin: 20px auto;
    align-items: center;
}

.carousel {
    overflow: visible;
    position: relative;
    display: flex;
}

.carousel div {
    padding: 0 0.5rem 0 0rem;
}

.carousel img {
    height: auto;
}

.carousel-controls {
    position: relative;
    left: 1.5rem;
    bottom: 4rem;
}

.carousel-controls span {
    display: inline-block;
    cursor: pointer;
    color: var(--second-color);
    font-size: 40px;
    margin: 0 5px;
}

.carousel-controls span:first-of-type {
    display: none;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
    max-width: 1000px;
    margin: 0 auto 2rem;
}

.column {
    flex: 30%;
    max-width: 25%;
    padding: 0 4px;
}

.column img {
    margin-top: 10px;
    vertical-align: middle;
}

/*Expositions*/

.exposition-titre {
    padding-left: 6rem;
}

.titre-expo {
    padding-left: 4.5rem;
}

.expoperm {
    display: flex;
    flex-direction: row;
    margin: 1rem 6rem;
    align-items: center;
    text-align: justify;
    flex-wrap: wrap;
}

.expoperm>* {
    padding: 1rem;
}

.expoperm>div {
    width: 60%;
}

.expoperm>p {
    width: 40%;
}

.expoperm img {
    width: 100%;
}

.en-italic p{
    font-style: italic;
}

.blocprintemps {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
}

.blocprintemps img {
    margin: 0.5rem;
}

.blocete {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    
}

.blocete img {
    margin: 0.7rem;
}

/*Infos Pratiques*/

.info-titre {
    display: flex;
    padding-left: 7rem;
}

.bloc-infos {
    display: flex;
    background-color: #1D0259;
    margin: 1rem 8rem;
    flex-direction: column;
    border-radius: 1rem;
    padding: 2rem;
    line-height: 1.5em;
    text-align: justify;
}

.en-gras {
    font-weight: 550;
}

.bloc-infos p {
    color: #E8EDF9;
    margin: 1em 0 1em 0;
}

.bloc-infos h2 {
    color: #E8EDF9;
    margin: 0 0 1rem 0;
    padding: 0;
}

.bloc-infos ul {
    color: #E8EDF9;
}

/*A Propos*/

.notre-histoire {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.notre-histoire>div:first-of-type {
    display: flex;
    align-items: center;
}

.notre-histoire p {
    margin: 0.5rem 0;
}

.notre-histoire img {
    width: 100%;
}

.presentation {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    border-radius: 1rem;
    overflow: hidden;
    border: 3px solid white;
}

.presentation img {
    width: calc(100%/3);
    border-radius: 0;
    border: none;
}

.a-propos p,
.notre-histoire p {
    text-align: justify;
}

ol li{
    text-align: justify;
    line-height: 1.25em;
}

/* Newsletter*/
.newsletter {
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin: 0 auto 5rem;
    color: var(--second-color);
    background: linear-gradient(90deg, #7C05F2 0%, #F205E2 100%);
}

.newsletter>* {
    padding: 1rem;
}

.newsletter h2 {
    color: var(--second-color);
    font-size: 32px;
}

/*Footer*/

.iconesfooter {
    display: inline-flex;
    color: var(--second-color);
    justify-items: center;
    align-items: center;
    gap: 20px;
    padding: 10px;
}

footer ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
    color: var(--second-color);

}

footer li:hover {
    color: #F205E2;
}

footer p {
    display: flex;
    color: var(--second-color);
    justify-content: center;
    margin: 10px;
    font-size: 16px;
}

@media (max-width: 1000px) {
    html {
        font-size: 14px;
    }

    .column {
        flex: 50%;
        max-width: 50%;
    }

    .newsletter {
        flex-direction: column;
    }

    .bloc-infos,
    .expoperm {
        margin: 1rem 4rem;
    }

    .expoperm>div {
        width: 100%;
    }

    .expoperm>p {
        width: 100%;
    }
}

@media (max-width: 600px) {
    .inner {
        margin: 0 1.5rem 2.5rem;
    }

    .column {
        flex: 100%;
        max-width: 100%;
    }

    .bloc-infos,
    .expoperm {
        margin: 1rem 0;
        border-radius: 0;
    }

    .presentation img {
        width: 100%;
    }

    .info-titre {
        padding-left: 0;
    }

    .exposition-titre {
        padding-left: 0;
        margin: 0;
        padding: 0;
    }

    .titre-expo {
        padding-left: 0;
    }
}
